$first-font: Poppins;
$second-font: Volkhov;
$small-size: 16px;
$normal-size: 17px;
$medium-size: 20px;
$huge-size: 50px;
$large-size: 84px;
$first-color: rgb(33, 40, 50);
$second-color: rgb(255, 255, 255);
$third-color: rgb(94, 98, 130);
$fourth-color: rgb(0, 0, 0);
$big-weight: 700;
$medium-weight: 500;
$regular-weight: 400;
$small-weight: 300;
$bold-weight: 600;
